<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>JSON API</h2>

<ul>
<<<<<<< HEAD
  <li><a href="/recipes-json">GET recipes from recipes.json</a></li>
=======
  <li><a href="/bithdays-json">GET birthdays from birthdays.json</a></li>
>>>>>>> 6debc845ab2ade0ee4d639887c926c44b47c1e1c
</ul>

<h2>DB API</h2>
<ol>
  <li>create database
<<<<<<< HEAD
    <strong>'recipes'</strong>
    using
    <a href="http://localhost/phpmyadmin/" target="_blank">http://localhost/phpmyadmin</a>
  </li>
  <li><a href="/recipes/install">create MySQL members TABLE</a></li>
  <li><a href="/recipes">GET recipes from MySQL</a></li>
=======
    <strong>'birthdays'</strong>
    using
    <a href="http://localhost/phpmyadmin/" target="_blank">http://localhost/phpmyadmin</a>
  </li>
  <li><a href="/birthdays/install">create MySQL Birthdays TABLE</a></li>
  <li><a href="/birthdays">GET Birthdays from MySQL</a></li>
>>>>>>> 6debc845ab2ade0ee4d639887c926c44b47c1e1c
</ol>